<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<form action="/selezione" method = "GET">

 
    <input type="radio" class="form-check-input" name="scelta" value = "es1"> <label class="form-check-label" for="radio2"> Esercizio1 </label></input>
    <input type="radio" class="form-check-input" name="scelta" value = "es2"> <label class="form-check-label" for="radio2"> Esercizio2 </label></input>
    <input type="radio" class="form-check-input" name="scelta" value = "es3"> <label class="form-check-label" for="radio2"> Esercizio3 </label></input>
    <input type="radio" class="form-check-input" name="scelta" value = "es4"> <label class="form-check-label" for="radio2"> Esercizio4 </label></input>
    <button type="submit" class="btn btn-primary">Submit</button> 
</form>